.card-gallery {
  display: flex;
  flex-direction: column;
  width: 180px;
  position: relative;

  @media (min-width: 768px) {
    width: 300px;
  }
}

.card-gallery_image {
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  cursor: pointer;
}

.card-gallery_image img {
  transition: transform 0.3s ease-in-out;
}

.card-gallery_image:hover img {
  transform: scale(1.1);
}

.card-gallery_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-gallery_title {
  position: absolute;
  padding: 4px;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 0.8rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));

  @media (min-width: 768px) {
    padding: 8px;
    font-size: 1rem;
  }
}

.modal-photopreview_image {
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.modal-photopreview_image img {
  width: 100%;
  height: 100%;

  @media (min-width: 768px) {
    width: auto;
    height: 90vh;
  }
}

.modal-photopreview_content {
  margin: 8px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.modal-photopreview_title {
  margin: 16px 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.modal-photopreview_details {
  padding: 16px;
  background-color: #141414;
  border-radius: 10px;
  width: 100%;
  height: 100%;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.modal-photopreview_label {
  font-size: 1rem;
}

.modal-photopreview_company-service {
  margin-top: 8px;

  @media (min-width: 768px) {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal-photopreview_company-service p {
  text-align: center;
  font-size: 1rem;
}
