.container {
  height: 300vh;
  position: relative;
}

.content_wrapper {
  background-color: #000;
  color: #fff;
  position: sticky;
  top: 0;
  overflow: hidden;
  align-items: center;
}

.hero_images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 19rem;
  height: 100vh;
  gap: 8px;
  transform: translate3d(0px, 0px, 0px) scale3d(3.2, 3.2, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
