.container {
  height: 300vh;
  position: relative;
}

.content_wrapper {
  background-color: #000;
  color: #fff;
  position: sticky;
  top: 0;
  overflow: hidden;
  align-items: center;
}

.hero_images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  gap: 8px;
  transform: translate3d(0px, 0px, 0px) scale3d(3.2, 3.2, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.item {
  border: 1px solid white;
}
