.container {
  background: rgb(0, 0, 0, 0.2);
  border-radius: 50%;
  box-shadow: 0 0 1px #fff;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
}
