.footer-container {
    background-color: #141414;
    padding: 20px;
    text-align: center;
    color: #fff;
    height: 200px;
}

.footer-social-media ul{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 20px;  
}

.footer-social-media img {
    width: 30px;
    height: 30px;
}

.dieghoatc a {
    color: #D1B000
}