.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h3 {
  margin-bottom: 8px;
  color: #fff;
}

.carousel {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
}

.slide {
  width: 95%;
  scroll-snap-align: start;
  flex-shrink: 0;
}

.image {
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
}
