.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px 4px;
}

.container h3 {
  margin-bottom: 8px;
  margin-left: 4px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25;
  text-align: left;

  @media (min-width: 768px) {
    font-size: 1.2rem;
  }
}

.arrows_controls {
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.arrow_left {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 20;
    transition: background 0.3s ease-in-out;
  }
}

.arrow_right {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 20;
    transition: background 0.3s ease-in-out;
  }
}

.arrow_left:hover {
  background: rgba(0, 0, 0, 0.7);
}

.arrow_right:hover {
  background: rgba(0, 0, 0, 0.7);
}

.carousel {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  cursor: pointer;

  @media (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.slide {
  width: 95%;
  scroll-snap-align: start;
  flex-shrink: 0;

  position: relative;

  @media (min-width: 768px) {
    width: 320px;
  }
}

.slide img {
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
