.hero-container {
}
.hero-superposition-container {
  position: relative;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.hero-title {
  color: #fff;
  margin: 0 16px;
  position: absolute;
  top: 15%;

  @media (min-width: 768px) {
    top: 40%;
    left: 10%;
  }
}

.hero-title h1 {
  font-size: 45px;
  font-weight: bold;
  line-height: 1.1;
}

.hero-title h2 {
  color: #e5e7eb;
  font-size: 25px;
}

.hero-title p {
  color: #a1a0ab;
  margin: 16px 0;
  font-size: 22px;
}

.hero-image-container {
  grid-column: 2;

  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0) 76%
  );
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0) 76%
  );
  mask-repeat: no-repeat;
  mask-size: cover;
  opacity: 0.5;
  width: 100%;

  @media (min-width: 1280px) {
    width: 800px;
  }
}

.hero-image {
  display: none;

  @media (min-width: 768px) {
    display: block;
    object-fit: cover;
  }
}

.hero-image-right {
  @media (min-width: 768px) {
    display: none;
  }
}
