.post-content-list {
    font-size: var(--post-text-content-size-mobile);
    font-family: var(--post-font-content);
    line-height: 1.25rem;
    margin: 16px 0;
    padding-left: 16px;
  }

  .post-content-list-style-unordered {
    list-style-type: disc;
  }
  
  .post-content-list-style-ordered {
    list-style-type: decimal;
  }