.control-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.canvas-container {
    border: 1px solid black;
    display: inline-block;
}

.author-verify {
    color: red;
}