.container {
  border-radius: 10px;
  overflow: hidden;
  background: var(--background-card);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;

  @media (min-width: 426px) {
    display: block;
    height: 248px;
  }
}

.category {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 1;

  @media (min-width: 425px) {
    border-radius: 10px;
    top: 8px;
    left: 8px;
  }
}

.category svg {
  width: 15px;
  height: 15px;
}

.category span {
  font-size: 12px;
  font-weight: normal;
}

.image {
  grid-column: 1;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  width: 100%;
  height: 120px;

  @media (min-width: 426px) {
    clip-path: none;
    grid-area: 1/1/2/1;
    width: 100%;
    height: 120px;
  }
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  grid-column: 2/4;
  padding: 8px;

  @media (min-width: 426px) {
    grid-area: 2/1/4/1;
    padding: 8px;
  }
}

.content_body h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 4px;

  @media (min-width: 1500px) {
    font-size: 18px;
    line-height: 26px;
  }
}

.content_body span {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;

  @media (min-width: 1500px) {
    font-size: 16px;
    line-height: 22px;
  }
}
