.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

.header h2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 1.2;
}

.header p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 1.2;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.pagination {
  margin: 16px 0;
}
