.post-header {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  font-family: var(--post-font-content);
  font-size: var(--post-text-content-size-mobile);

  @media (min-width: 768px) {
    justify-content: flex-start;
    gap: 16px;
    font-size: var(--post-text-content-size);
  }
}

.post-header_items {
  display: flex;
  place-items: center;
  gap: var(--margin-container-mobile);
}

.post-header_items span:first-child {
  font-weight: 700;
  color: var(--tertiary-color);
}

.post-header_icons {
  height: 15px;
  width: 15px;
}
