@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

body {
  font-family: Segoe UI, Segoe UI Midlevel, sans-serif;  
  background-color: var(--background);  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--color-white);
  background-color: var(--background);
  background-blend-mode: multiply;
}

@layer base {
  :root {
    --background: #000;
    --background-card: rgba(255, 255, 255, 0.05);
    --color-white: #fff;
    --color-black: #000;
    --text-primary:#E0E0E6;
    --text-secundary:#B0B0BA;
    --text-off: #88889A;
    --font-size-h1: 20px;
    --padding-container-mobile: 16px;
    --padding-container-desktop: 24px;
    --margin-container-mobile: 16px;
    --margin-container-desktop: 24px;
  }
  .dark {
    --background: #000;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
