@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #d1b000;
  --secondary-color: #E53025;
  --tertiary-color: #2B71B7;

  --color-white: #fff;
  --color-black: #000;

  --h1-size: 48px;
  --h1-size-mobile: 24px;
  --h2-size: 24px;
  --h2-size-mobile: 20px;
  --h3-size: 18px;
  --h3-size-mobile: 16px;

  --post-title-font: Georgia, Cambria, Times New Roman, Times, serif;
  --post-title-weight: 700;

  --post-font-content: Inter, sans-serif;

  --padding-container-mobile: 1rem;
  --margin-container-mobile: 8px;
  --padding-container-desktop: 16px;
  --margin-container-desktop: 16px;

  --post-text-content-size: 16px;
  --post-text-content-size-mobile: 14px;

}

body {
  font-family: "Mitr", sans-serif;
  background-color: #000;
}
