.container {
  color: #fff;
  margin: 0 auto;

  @media(min-width: 1280px) {
    margin: 0 24px;
  }
  
  @media(min-width: 1440px) {
    max-width: 1622px;
    margin: 0 auto;
  }
}

.controls {

  @media(min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
}

.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
