.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 768px) {
    display: none;
  }
}

.menu_left {
  display: flex;
  align-items: center;
  gap: 4px;
}

.menu_right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 50px;
}
