.imagedetails-container {
    display: flex; 
    gap: 16px; 
  }
  
  .imagedetails-icon {
    background-color: #e0e0e033;
    width: 28px;
    height: 28px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .imagedetails-icon img {
    width: 16px;
    height: 16px;    
  }