.card-container {
  display: flex;
  flex-direction: column;
  //transition: all 0.7s ease-in-out;
}

.card-container:hover {
  //scale: 1.04;
  //transition: all 0.7s ease-in-out;
}

.card-image {
  border-radius: 10px;
  width: 180px;
  height: 112.5px;
  object-fit: fill;
  overflow: hidden;
  cursor: pointer;

  @media (min-width: 768px) {
    width: 300px;
    height: 168.75px;
  }
}

.card-details {
  margin: 8px;
}

.card-item p {
  font-size: 0.9rem;
  font-weight: 700;
}

.preview-image {
  overflow: hidden;
  border-radius: 10px;
}

.preview-title {
  margin: 16px 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.preview-details {
  padding: 16px;
  background-color: #141414;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  //clip-path: path("M 0 120 C 40 120 81 124 114 105 C 154 83 166 82 203 82 T 400 80 L 400 200 L 0 200 Z");
}

.text-preview {
  font-size: 1rem;
}
