.post-content-fact {
  font-size: var(--post-text-content-size-mobile);
  font-family: var(--post-font-content);
  line-height: 1.25rem;
  padding: 16px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.post-content-fact-h3 {
  font-family: var(--post-title-font);
  font-size: var(--h3-size-mobile);
  font-weight: 700;
  margin: 8px 0;

  @media (min-width: 768px) {
    font-size: var(--h3-size);
  }
}

.post-content-fact-p {
  font-family: var(--post-font-content);
  line-height: 1.625;
}
