.post-content-principal-p {
  font-family: var(--post-font-content);
  font-weight: 500;
  margin-block: lh;
}

.post-content-p {
  font-family: var(--post-font-content);
  line-height: 1.625;
  margin-block: lh;
}
