.footer-container {
    background-color: #141414;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.footer-social-media ul{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 20px;  
}

.footer-social-media img {
    width: 30px;
    height: 30px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-info span {
    color: #aaaaaa;
    font-size: 12px;
}

.dieghoatc a {
    color: #D1B000
}