.container {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: appear-disappear 3s ease-in-out infinite;
}

.logo {
  position: relative;
  width: 100px;
  height: 100px;
}

.image {
  object-fit: contain;
}

.container h1 {
  font-size: 24px;
  color: white;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}

@keyframes appear-disappear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
