.container {
  cursor: pointer;
  color: #fff;
  position: relative;
}

.image {
  border-radius: 10px;
  aspect-ratio: 16/9;
  width: 180px;
  object-fit: cover;
  object-position: center;

  @media (min-width: 768px) {
    width: 300px;
  }
}

.title {
  position: absolute;
  padding: 4px;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 0.8rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));

  @media (min-width: 768px) {
    padding: 8px;
    font-size: 1rem;
  }
}
