.container {
  cursor: pointer;
  color: #fff;
  position: relative;
}

.image {
  aspect-ratio: 1/1;
  width: 180px;
  object-fit: cover;
  object-position: center;

  @media (min-width: 768px) {
    width: 300px;
  }
}

