.post-content-h1 {
    font-size: var(--h1-size-mobile);
    font-family: var(--post-title-font);
    font-weight: var(--post-title-weight);
    margin: var(--margin-container-mobile) 0;
  
    @media (min-width: 768px) {
      font-size: var(--h1-size);
      line-height: 1;
    }
  }
  
  .post-content-h2 {
    font-family: var(--post-title-font);
    font-size: var(--h2-size-mobile);
    font-weight: 700;
    margin: 8px 0;
  
    @media (min-width: 768px) {
      font-size: var(--h2-size);
    }
  }
  
  .post-content-h3 {
    font-family: var(--post-title-font);
    font-size: var(--h3-size-mobile);
    font-weight: 700;
    margin: 8px 0;
  
    @media (min-width: 768px) {
      font-size: var(--h3-size);
    }
  }