.tabitem-container {
  border-radius: 12px;
  color: #fff;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  p {
    margin: 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
}

.tabitem-container::-webkit-scrollbar {
    display: none;
  }

.isactive {
    background: #27272a;
}