.tabscategories-container {
    margin: 8px 0 16px 0;
    display: flex;
    gap: 16px;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    
    /* Ocultar scrollbar pero mantener funcionalidad */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; 
}