.tabscategories-container {
    margin-bottom: 16px;
    display: flex;
    gap: 16px;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    
    /* Ocultar scrollbar pero mantener funcionalidad */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; 
}