.container {
  display: flex;
  gap: 4px;
  margin: 8px 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 15rem;
    margin: 8px 24px;
  }
}

.item:first-child {
  @media (min-width: 768px) {
    grid-column: span 2;
  }
}

.item {
  height: 12rem;
  width: 10rem;
  background-color: #393939;

  @media (min-width: 768px) {
    grid-column: span 1;
    width: 100%;
    height: 100%;
  }
}
