.container {
  max-width: 1622px;
  padding: 8px;

  @media (min-width: 1200px) {
    max-width: 1200px;
    margin: 0 auto;
  }
  @media (min-width: 1500px) {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.bento {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;

  @media (min-width: 426px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 769px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (min-width: 1500px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.bento_principal {
  grid-column: 1;
  background-color: #000;
  border-radius: 10px;
  width: 100%;
  height: 504px;

  @media (min-width: 426px) {
    height: 304px;
    grid-column: 1/4;
  }

  @media (min-width: 769px) {
    grid-column: 1/4;
  }
}

.bento > article {
  display: block;
}

.bento > article:nth-of-type(n + 6) {
  display: none;
}

@media (min-width: 426px) {
  .bento > article:nth-of-type(-n + 7) {
    display: block;
  }
  .bento > article:nth-of-type(n + 8) {
    display: none;
  }
}

@media (min-width: 1025px) {
  .bento > article:nth-of-type(-n + 8) {
    display: block;
  }
  .bento > article:nth-of-type(n + 9) {
    display: none;
  }
}

@media (min-width: 1500px) {
  .bento > article:nth-of-type(-n + 10) {
    display: block;
  }
  .bento > article:nth-of-type(n + 11) {
    display: none;
  }
}
