
.post-container {
  background-color: var(--color-white);
  padding: var(--padding-container-mobile) 0;
}

.post-article {
  max-width: 700px; /* ideal para lectura */
  margin: 0 auto; /* centrado horizontal */
  line-height: 1.6;
  padding: 0 var(--padding-container-mobile);
}

