.container {
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  height: calc(100dvh - 56px);
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.close {
  display: none;
}

.content_categories {
  margin-bottom: 16px;
}

.content_categories h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #aaaaaa;
  text-align: center;
}

.content_categories_list {
  border: 0.1px solid #aaaaaa;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100dvh;
  align-items: center;
  margin-bottom: 16px;
}

.footer span {
  font-size: 16px;
  color: #aaaaaa;
}
.footer span:last-child {
  color: #ffffff3b;
}

.footer_contacto {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #fff;
  border-bottom: 0.1px solid #aaaaaa;
}
