.container {
  margin: 0 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.container h4 {
  font-size: 20px;
  font-weight: bold;
}

.container p {
  font-size: 16px;
  line-height: 1.5;
}
